version: '3.8'

services:
  backend:
    build: ./backend
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      - database
    restart: always

  frontend:
    build: ./frontend
    restart: always

  database:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

  nginx:
    build: ./nginx
    ports:
      - "1234:1234"
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  db-data:
